.app-header{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px
}
.nav-bar{
    color:white;
    width: 30%;
    display: flex;
    justify-content: space-between;
}