.productive {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 100px;
}

h2 {
    margin-bottom: 26px;
}
p {
    margin-bottom: 26px;
}